<div ng-controller="expController">
  <!-- Navbar -->
  <ul class="nav nav-tabs justify-content-center mt-3">
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/home">Compétences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/formations">Formations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active navTitles" href="#!/experiences">Expériences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/projets">Projets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/loisirs">Loisirs</a>
    </li>
  </ul>
  <div class="mt-3">
    <h3>2020/Aujourd'hui - Développeur Web</h3>
    <p>Développeur en alternance pour le compte de l'entreprise IdéesCulture depuis Mars 2020. Spécialisé dans l'outil de gestion de collections CollectiveAccess, IdéesCulture intervient principalement pour les musées et autres organismes culturels.</p>
    <p>Mes missions : Réalisation et intégration de maquettes dynamiques. Déploiement et maintenance de sites CollectiveAccess. Développement de plug-ins. Debugging / Corrections graphiques.</p>
    <h3>2019/2020 - Développeur Web</h3>
    <p>
      Développeur web pour Solutis, société spécialiste du rachat de crédit à Saint-Quentin au contact d'une équipe de 7 développeurs, avec les missions suivantes :
    </p>
    <p>
        Analyser les besoins de l'entreprise et développer les outils nécessaires à l'activité de cette dernière.
        Maintenir les applications et proposer des évolutions.
        Contribuer à la mise à jour et l'amélioration des sites web.
    </p>
    <h3 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">2015/Aujourd'hui - Blogueur, Community Manager</h3>
    <p>Gestion et animation des réseaux de la Comté du Geek : <a href="https://www.facebook.com/lacomtedugeek/" target="_blank">Facebook (+170 000 likes)</a>, <a href="https://lacomtedugeek.fr/" target="_blank">Site Web</a>, <a href="https://twitter.com/lacomtedugeek" target="_blank">Twitter</a>, <a href="https://discord.gg/Yvc6Bn4" target="_blank">Discord</a>. Partenariats avec différentes marques.</p>
    <p>Revente du Site Web en Juin 2020 pour le compte de la société Geekraft. Missions de Community Management en Freelance (loisir rémunéré).</p>
    <h3>2018 - Rédacteur Web intérimaire</h3>
    <p>Rédaction d'articles optimisés SEO au profit des clients de l'agence angevine spécialisée dans le Webmarketing : <a href="http://www.expert-viseo.fr/">Expert VISEO</a>.</p>
    <h3>2017/2018 - Freelance Community Manager & Rédacteur Web</h3>
    <p>Animation de la page Facebook <a href="https://www.facebook.com/jeugeek/" target="_blank">JeuGeek.com</a> (démarrage de l'activité, lancement rapide conjointement avec mon blog). Rédaction d'articles "buzz" pour le <a href="http://www.letribunaldunet.fr/" target="_blank">Tribunal du Net</a>.</p>
    <h3>2015/2016 - Rédacteur Web bénévole</h3>
    <p>Rédaction d'articles pour <a href="http://gamersorigin.com/fr/" target="_blank">GamersOrigin</a> sur le jeu-vidéo Hearthstone. Suivi de la scène esport et des différentes mutations de la meta-game.</p>
    <h3>Autres expériences</h3>
    <p>Analyste Réseaux Sociaux à OXOM (2 mois), Vendeur et assistant administratif à Intermarché (3 mois), Manufacture à Syngenta et chez Blondel Aérologistique (2 mois cumulés), Vendeur chez H2O Aquarium (Stage BTS - 4 mois cumulés)</p>
  </div>
</div>
