<div ng-controller="loisirsController">
  <!-- Navbar -->
  <ul class="nav nav-tabs justify-content-center mt-3">
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/home">Compétences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/formations">Formations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/experiences">Expériences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/projets">Projets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active navTitles" href="#!/loisirs">Loisirs</a>
    </li>
  </ul>
  <div class="row d-flex justify-content-around align-items-center">
    <div class="mt-3 mb-3 col-sm-3 d-flex justify-content-center">
      <div class="funDiv d-flex justify-content-center flex-column align-items-center">
        <h3>Jeux</h3>
        <img src="assets/img/hearthstone.png" class="funImg" alt="Carte Hearthstone">
        <p>Jeux-Vidéo</p>
        <p>Jeux de société</p>
        <p>Sports (joueur de Hockey)</p>
      </div>
    </div>
    <div class="mt-3 mb-3 col-sm-3 d-flex justify-content-center">
      <div class="funDiv d-flex justify-content-center flex-column align-items-center">
        <h3>Univers fantastiques</h3>
        <img src="assets/img/targaryen.png" alt="Logo Targaryen Game of Thrones" id="targaryen">
        <p>Films</p>
        <p>Séries</p>
        <p>Animés japonais</p>
      </div>
    </div>
    <div class="mt-3 mb-3 col-sm-3 d-flex justify-content-center">
      <div class="funDiv d-flex justify-content-center flex-column align-items-center">
        <h3>Sciences</h3>
        <img src="assets/img/jurassicpark.png" class="funImg" alt="Logo Jurassic Park">
        <p>Paléontologie</p>
        <p>Astronomie</p>
      </div>
    </div>
  </div>
</div>
