<div ng-controller="projetsController">
  <!-- Navbar -->
  <ul class="nav nav-tabs justify-content-center mt-3">
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/home">Compétences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/formations">Formations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/experiences">Expériences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active navTitles" href="#!/projets">Projets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navTitles" href="#!/loisirs">Loisirs</a>
    </li>
  </ul>
  <div class="row projectsDiv mb-3 d-flex align-items-center justify-content-center mt-3">
    <div class="col-sm-6 col-lg-3 d-flex flex-column align-items-center">
      <h3>Maquette Festival des Films de Plein Air</h3>
      <img src="assets/img/festival.jpeg" alt="miniature projet développement festival de films">
      <p class="mt-2">Design et intégration d'une interface pour un festival de films.</p>
      <p><a href="https://syny5.github.io/maquette-festival-films/" target="_blank">Voir le site web.</a></p>
    </div>
    <div class="col-sm-6 col-lg-3 d-flex flex-column align-items-center">
      <h3>Site Wordpress Chalets et Caviar</h3>
      <img src="assets/img/chalet.jpeg" alt="Chalet bord de lac">
      <p class="mt-2">Site de vente et de locations de chalets "de luxe" fictif réalisé sous Wordpress.</p>
      <p><a href="https://p2.victor-demilly.space/" target="_blank">Voir le site web.</a></p>
    </div>
    <div class="col-sm-6 col-lg-3 d-flex flex-column align-items-center">
      <h3>Site web e-commerce Star-Ship</h3>
      <img src="assets/img/millenium.jpg" alt="Vaisseau star wars faucon millenium">
      <p class="mt-2">Site front-end fictif de vente de vaisseaux spatials avec AngularJS.</p>
      <p><a href="https://syny5.github.io/AngularJS-Projet-Star-Ship/" target="_blank">Voir le site web.</a></p>
    </div>
    <div class="col-sm-6 col-lg-3 d-flex flex-column align-items-center projectsPreview">
      <h3>Site web e-commerce Elements</h3>
      <img src="assets/img/bouteilles.jpg" alt="Bouteilles d'eau" id="waterButtles">
      <p class="mt-2">Site front-end fictif de vente de bouteilles d'eau avec jQuery.</p>
      <p><a href="https://syny5.github.io/ELEMENTS/" target="_blank">Voir le site web.</a></p>
    </div>
    <div class="col-sm-6 col-lg-3 d-flex flex-column align-items-center projectsPreview">
      <h3>Maquette du site web Microsoft</h3>
      <img src="assets/img/microsoft.jpg" alt="Microsoft logo">
      <p class="mt-2">Reproduction front-end de la page d'accueil du site Microsoft avec Bootstrap.</p>
      <p><a href="https://syny5.github.io/Reproduction-site-Microsoft/" target="_blank">Voir le site web.</a></p>
    </div>
    <div class="col-sm-6 col-lg-3 d-flex flex-column align-items-center projectsPreview">
      <h3>Start-up week-end Roubaix</h3>
      <img src="assets/img/swroubaix.jpg" alt="Start-up Week-end Roubaix" target="_blank">
      <p class="mt-2">Aide au projet "Challenge Your Life", une application ayant pour mission d'améliorer le bien-être au travail.</p>
    </div>
  </div>
</div>
